<header id="header">
    <div class="top-bar">
        <div class="slidedown collapse">
            <div class="container">
                <div class="phone-email pull-left">
                    @*<a href="mailto:andrebaltieri@hotmail.com" target="_blank"><i class="icon-envelope"></i>andrebaltieri@hotmail.com</a>
                    <a href="http://www.twitter.com/andrebaltieri" target="_blank"><i class="icon-twitter"></i>@@andrebaltieri</a>*@
                </div>
                <div class="pull-right">
                    <ul class="social pull-left">
                        <li class="facebook"><a href="https://www.facebook.com/themobileday" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li class="twitter"><a href="https://twitter.com/search?q=%23mobileday2014" target="_blank"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="main-header">
        <div class="container">
            <div class="topnav navbar-header">
                <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                    <i class="icon-angle-down icon-current"></i>
                </a>
            </div>
            <div class="logo pull-left">
                <h1>
                    <a href="#home">
                        <img src="~/content/img/logo.png" alt="Mobile Day 2014" width="125" height="60">
                    </a>
                </h1>
            </div>

            <div class="mobile navbar-header">
                <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
                    <i class="icon-reorder icon-2x"></i>
                </a>
            </div>

            <nav class="collapse navbar-collapse menu">
                <ul class="nav navbar-nav sf-menu">
                    <li>
                        <a href="#" class="sf-with-ul">
                            Home
                            <span class="sf-sub-indicator">
                                <i class="icon-angle-down "></i>
                            </span>
                        </a>
                        <ul>
                            <li><a href="#/" class="sf-with-ul">Página Inicial</a></li>
                            <li><a href="#/past-editions" class="sf-with-ul">Edições Anteriores</a></li>
                            <li><a href="#/2014" class="sf-with-ul">Edição 2014</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="sf-with-ul">Evento<span class="sf-sub-indicator"><i class="icon-angle-down "></i></span></a>
                        <ul>
                            <li><a href="#/agenda" class="sf-with-ul">Agenda 2014</a></li>
                            <li><a href="#/coordinators" class="sf-with-ul">Coordenadores</a></li>                            
                            <li><a href="#/presenteers" class="sf-with-ul">Palestrantes</a></li>
                            <li>
                                <a href="#" class="sf-with-ul">
                                    Cidades
                                    <span class="sf-sub-indicator pull-right">
                                        <i class="icon-angle-right "></i>
                                    </span>
                                </a>
                                <ul>
                                    <li><a href="#/cities/saopaulo" class="sf-with-ul">Itumbiara/GO</a></li>
                                    <li><a href="#/cities/maringa" class="sf-with-ul">Maringá/PA</a></li>
                                    <li><a href="#/cities/piracicaba" class="sf-with-ul">Piracicaba/SP</a></li>
                                    <li><a href="#/cities/saopaulo" class="sf-with-ul">São Paulo/SP</a></li>
                                    <li><a href="#/cities/saopaulo" class="sf-with-ul">Uberlândia/MG</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="sf-with-ul">
                            Mobile Day 2014
                            <span class="sf-sub-indicator">
                                <i class="icon-angle-down "></i>
                            </span>
                        </a>
                        <ul>
                            <li><a href="#/coordinate" class="sf-with-ul">Coordenar um Evento</a></li>
                            <li><a href="#/presentation" class="sf-with-ul">Submeter Palestra</a></li>
                            <li><a href="#/support" class="sf-with-ul">Patrocinar</a></li>
                        </ul>
                    </li>
                    <li><a href="#/contact">Contato</a></li>
                </ul>
            </nav>
            <!-- Menu End -->
        </div>
    </div>
    <!-- Main Header End -->
</header>
<!-- Header End --> 