<script type="text/template" id="city_template">
    <div class="slogan bottom-pad-small">
        <div class="container">
            <div class="row">
                <div class="slogan-content">
                    <div class="col-lg-9 col-md-9">
                        <h2 class="slogan-title"><%= name %> - <%= state %></h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <article>
                        <h3 class="title">Sobre o evento</h3>
                        <div class="post-content">
                            <p>
                                Em sua segunda versão o Mobile Day veio ainda mais forte, abrangindo diversas tecnologias e trazendo ainda mais conteúdo técnico sobre desenvolvimento de aplicações móveis.
                            </p>
                        </div>
                        <div class="divider"></div>
                        <h3 class="title">Data e Local</h3>
                        <div class="post-content">
                            <p>Dia <strong>24 de Abril</strong> das <strong>09:00h às 18:00h</strong></p>
                            <address>
                                Rua Moraes Barros, 1235 - Centro<br />
                                Piracicaba, SP - CEP: 13400-00<br />
                                <a href="https://maps.google.com/maps?q=brasil&hl=pt-BR&sll=-14.235004,-51.92528&sspn=38.939533,67.631836&hnear=Brasil&t=m&z=5" target="_blank">Mapa do Local</a>
                            </address>
                        </div>
                        <div class="divider"></div>
                        <h3 class="title">Patrocínio Local</h3>
                        <div class="post-content">
                            <p>
                                <a href="#"><img alt="Upportdash" src="../content/img/clientslogo/logo-1.jpg"></a>
                                <a href="#"><img alt="Upportdash" src="../content/img/clientslogo/logo-1.jpg"></a>
                                <a href="#"><img alt="Upportdash" src="../content/img/clientslogo/logo-1.jpg"></a>
                                <a href="#"><img alt="Upportdash" src="../content/img/clientslogo/logo-1.jpg"></a>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="skills col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h3 class="title">Coordenadores</h3>
                    <p>
                        <img alt="" src="../content/img/team/andrebaltieri.png" class="testimonial-image">
                        <a href="#">André Baltieri</a><br />
                        Microsoft MVP - ASP.NET/IIS
                    </p>

                    <div class="divider"></div>
                    <h3 class="title">Agenda</h3>

                    <div class="divider"></div>
                    <h3 class="title">Inscrições</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</script>
