<script type="text/template" id="coordinate_template">
    <div class="slogan bottom-pad-small">
        <div class="container">
            <div class="row">
                <div class="slogan-content">
                    <div class="col-lg-9 col-md-9">
                        <h2 class="slogan-title">Coordenar um Evento</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="row">
                <h3 class="title">O que é preciso?</h3>
                <p>
                    Para coordenar um evento do Mobile Day em sua cidade é preciso preencher um formulário e aguardar um retorno sobre o evento. Caso já haja alguém coordenando um evento em sua cidade, te colocaremos em contato para que ambos possam coordenar.
                </p>
                <p>
                    O Mobile Day é um evento <strong>gratuito</strong> e sem fins lucrativos, ou seja, todo dinheiro arrecadado pelo seu evento com seus patrocinadores locais deve ser aplicado na divulgação, dispesas com palestrantes e brindes.
                </p>
                <p>
                    Leia atentamente todos os tópicos abaixo antes de submeter seu formulário. Caso haja dúvidas, entre em <a href="#/contact">contato</a>.
                </p>
                <div class="divider"></div>

                <h3 class="title">Apoio</h3>
                <p>
                    O Mobile Day 2014 contará com patrocinadores globais e locais. Todos os patrocinadores do seu evento são locais e devem preencher o <a href="#/support">formulário de patrocínio</a> para se oficializar como patrocinador.
                </p>
                <p>
                    Como apoio, cada cidade devidamente cadastrada receberá um kit com camisetas e adesivos para os palestrantes e para os participantes. Nenhuma ajuda financeira será fornecida.
                </p>
                <div class="divider"></div>

                <h3 class="title">Divulgação</h3>
                <p>
                    Toda e qualquer divulgação é feita exclusivamente pelo site e página do facebook do Mobile Day. Após confirmado, seu evento terá um post na página do Facebook que você poderá compartilhar, além da URL do seu evento aqui no site. 
                </p>
                <p>
                    No Twitter, a utilização da hashtag #mobileday é indicada sempre que mencionar o evento.
                </p>
                <p>
                    Não é permitida qualquer modificação no logo ou parte dele, todo material de marketing foi e será feito por um de nossos patrocinadores. Qualquer descumprimento dos itens mencionados acima pode acarretar no cancelamento do seu evento.
                </p>
                <div class="divider"></div>
                
                <p class="text-center">
                    Clicando no botão abaixo, você confirma que está ciênte das regras para coordenar um evento descritas acima.<br />
                    <a href="https://docs.google.com/forms/d/1UkYQ-l2XCBnPP1fQeQqVbj9DYVjVidagxqboeO4pgVA/viewform" target="_blank" class="btn btn-normal btn-color submit bottom-pad">Iniciar Inscrição</a>
                </p>
            </div>
        </div>
    </div>
</script>
