<script type="text/template" id="currentedition_template">
    <div class="slogan bottom-pad-small">
        <div class="container">
            <div class="row">
                <div class="slogan-content">
                    <div class="col-lg-9 col-md-9">
                        <h2 class="slogan-title">Mobile Day 2014</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <article>
                        <h3 class="title">Edição de 2014</h3>
                        <div class="post-content">
                            <div class="img-content">
                                <img src="content/img/currentedition/2014.png" alt="">
                            </div>
                            <p>
                                Em 2013 não houve um Mobile Day, mas por um motivo especial, estavamos crescendo e nos preparando para chegar mais perto de você!
                            </p>
                            <br>
                            <p>
                                Este ano não só contaremos com a mesma diversidade tecnologica e qualidade de conteúdo, como também estaremos presente em várias cidades do Brasil. Este ano teremos vários coordenadores executando o evento em vários locais do Brasil.
                            </p>
                            <br />
                            <p>
                                Quer o Mobile Day na sua cidade? <a href="#/coordinate">coordene um evento</a>. Quer ver qual evento mais próximo de você? <a href="#/agenda">consulte a agenda de 2014</a>.
                            </p>
                        </div>
                    </article>
                </div>
                <!-- Left Section End -->
                <!-- Skill Section Start -->
                <div class="skills col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h3 class="title">Nossas Metas</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">Participantes: 0 de 1000 ou mais</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">Tecnologias Abordadas: 0 de 6</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">Palestras: 0 de 100 ou mais</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">Patrocinadores: 3 de 10 ou mais</div>
                    </div>
                </div>
                <!-- Skill Section Start -->
                <div class="clearfix"></div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</script>
