<script type="text/template" id="home_template">
    <div class="slogan bottom-pad-small">
        <div class="container">
            <div class="row">
                <div class="slogan-content">
                    <div class="col-lg-9 col-md-9">
                        <h2 class="slogan-title">Seja bem vindo ao Mobile Day 2014</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="icon-map-marker"></i></div>
                                <div class="ch-info-back">
                                    <i class="icon-map-marker"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>Eventos em todo Brasil</h3>
                            <p>
                                Na edição de 2014, o <strong>Mobile Day</strong> está se expandindo, contando agora com eventos presenciais em todo Brasil no decorrer de 2014.<br />
                                Cofira a <a href="#/agenda">agenda</a> do evento e encontre o mais próximo de você!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="icon-star"></i></div>
                                <div class="ch-info-back">
                                    <i class="icon-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>Conteúdo de Qualidade</h3>
                            <p>
                                É sempre uma honra para o <strong>Mobile Day</strong> contar com os melhores palestrantes e coordenadores das comunidades ténicas do Brasil.<br />
                                Confira a lista dos <a href="#/presenteers">palestrantes</a> dos eventos do Mobile Day 2014.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="icon-money"></i></div>
                                <div class="ch-info-back">
                                    <i class="icon-money"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>Custa caro?</h3>
                            <p>
                                O <strong>Mobile Day</strong> é um evento presencial e <em>gratuito</em>, com intúito apenas de disseminar informações sobre o desenvolvimento de aplicações para dispositivos móveis.<br />
                                Você pode se inscrever em qualquer evento, sem nenhum custo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>