<script type="text/template" id="pastedition_template">
    <div class="slogan bottom-pad-small">
        <div class="container">
            <div class="row">
                <div class="slogan-content">
                    <div class="col-lg-9 col-md-9">
                        <h2 class="slogan-title">Edições Anteriores</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <article>
                        <h3 class="title">Mobile Day 2012</h3>
                        <div class="post-content">
                            <div class="img-content">
                                <img src="../content/img/pasteditions/2012.png" alt="Mobile Day 2011" />
                            </div>
                            <p>
                                Em sua segunda versão o Mobile Day veio ainda mais forte, abrangindo diversas tecnologias e trazendo ainda mais conteúdo técnico sobre desenvolvimento de aplicações móveis.
                            </p>
                            <br>
                            <p>
                                Ainda realizado em Piracicaba, interior de São Paulo, o Mobile Day ganhou forças com mais patrocinadores e palestrantes de grande nome. Nesta edição contamos com patrocínio internacional da Plural Sight.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="skills col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h3 class="title">Estatísticas</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Público: 138</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Tecnologias Abordadas: 4</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Palestras: 8</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Patrocinadores: 4</div>
                    </div>                    
                </div>
                <div class="clearfix"></div>
                <div class="divider"></div>
                <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <article>
                        <h3 class="title">Mobile Day 2011</h3>
                        <div class="post-content">
                            <div class="img-content">
                                <img src="../content/img/pasteditions/2011.png" alt="Mobile Day 2011" />
                            </div>
                            <p>
                                Em 2011 foi realizada a primeira edição do Mobile Day, em Piracicaba, SP. O evento contou com mais de 100 participantes da cidade e da região, difundindo e divulgando várias tecnologias e novidades do mercado mobile da época.
                            </p>
                            <br>
                            <p>
                                O evento teve uma boa repercursão e já na época muito se falou sobre realizá-lo em várias outras cidades do Brasil.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="skills col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h3 class="title">Estatísticas</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Público: 120</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Tecnologias Abordadas: 1</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Palestras: 8</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Patrocinadores: 2</div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</script>
