<script type="text/template" id="presentation_template">
    <div class="slogan bottom-pad-small">
        <div class="container">
            <div class="row">
                <div class="slogan-content">
                    <div class="col-lg-9 col-md-9">
                        <h2 class="slogan-title">Submissão de Palestra</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="text-center">Whoops... Página não encontrada !!!</h2>
                    <div id="not-found">
                        <h2>404 <i class="icon-question-sign"></i></h2>
                    </div>
                    <div class="back-home">
                        <p>
                            A página requisitada não foi encontrada ou está atualmente indisponível.<br>
                            Por favor, <a href="#">clique aqui</a> para voltar para a página inicial do site.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
